---
const imagesCarrousel = [
  "images/carrousel/logoEmpresa-1-imageonline.co-5293840.png",
  "images/carrousel/logoEmpresa-2-imageonline.co-3864523.png",
  "images/carrousel/logoEmpresa-3-imageonline.co-9837381.png",
  "images/carrousel/logoEmpresa-4-imageonline.co-4516536.png",
];
const english: any = {
  title: "Some of our customers",
};
---

<article>
  <h1 class="textSome">{english.title}</h1>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src={imagesCarrousel[0]} alt="SwisMedical" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[1]} alt="Vantek" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[2]} alt="MunicipioMaipu" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[3]} alt="Flux" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[0]} alt="SwisMedical" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[1]} alt="Vantek" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[2]} alt="MunicipioMaipu" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[3]} alt="Flux" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[0]} alt="SwisMedical" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[1]} alt="Vantek" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[2]} alt="MunicipioMaipu" loading="lazy" />
      </div>
      <div class="slide">
        <img src={imagesCarrousel[3]} alt="Flux" loading="lazy" />
      </div>
    </div>
  </div>
</article>

<style>
  .textSome {
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 5%;
    text-shadow:
      2px 2px 4px rgba(0, 0, 0, 0.5),
      -1px -1px 2px rgba(255, 255, 255, 0.5);
  }
  .slider {
    width: 70vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    width: calc(80px * 12);
  }
  .slider .slide {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    width: 10%;
    flex-shrink: 0;
  }
  .slider .slide img {
    width: 100%;
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-80px * 12));
      transform: translateX(calc(-80px * 12));
    }
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-80px * 12));
      transform: translateX(calc(-80px * 12));
    }
  }
</style>
